@charset "UTF-8";
*,
*::after,
*::before {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	font-family: "Roboto", Meiryo, Helvetica, Arial, sans-serif;
}

a {
	color: #ff470f;
	-webkit-transition: .3s all;
	transition: .3s all;
	text-decoration: none;
}

a:hover {
	opacity: .6;
}

.wrap {
	overflow: hidden;
}

.container {
	margin: 0 auto;
	max-width: 1200px;
	width: 90%;
	padding: 10px 0px;
}

.content {
	width: 100%;
}

.aside {
	color: #444;
	opacity: 0.5;
	transition: opacity .1s;
	margin-top: 20px;
}

.aside:hover {
	opacity: 1;
}

.aside p {
	line-height: 2;
}

p.social {
	font-size: 2em;
	margin: 0px;
}

p.social a {
	margin-left: 5px;
}

@media screen and (min-width: 48em) {

	.main {
		display: flex;
	}
	.content {
		width: 66%;
	}
	
	.aside {
		width: 30%;
		margin-left: 4%;
		margin-top: 0px;
		float: right;
		text-align: right;
	}

	.menu {
		display: block;
	}
	
}

.header {
	margin-bottom: 2em;
	text-align: center;
	color: #444;
}

.header a {
	color: #444;
	text-decoration: none;
}

.site-title {
	font-size: 3em;
	font-weight: bold;
	text-align: left;
	margin: 0px;
}

.search {
	margin: 0 auto;
	width: 300px;
}

.search * {
	-webkit-box-sizing: content-box;
	box-sizing: content-box;
}

.footer {
	background-color: #444;
	color: #aaa;
	margin-top: 5em;
	font-size: 0.8em;
	display: flex;
}

.footer .big {
	font-size: 1.2em;
}

p.powered {
	margin-bottom: 5px;
	align-content: center;
}

img.powered {
	width: 100px;
}

.author {
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	margin: 0 auto;
	max-width: 760px;
	padding: 0 5%;
	text-align: left;
}

.author__image img {
	border-radius: 50%;
	width: 100%;
}

.author__info {
	padding-left: 5%;
}

.author__info h3 {
	margin-top: 0;
}

.author__links {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	list-style: none;
	padding: 0;
}

.author__links li {
	height: 30px;
	margin-left: .8em;
	width: 30px;
}

.author__links a:hover img {
	-webkit-transform: rotate(360deg);
	transform: rotate(360deg);
}

.author__links img {
	-webkit-transition: .6s all;
	transition: .6s all;
	width: 100%;
}

.card {
	margin-bottom: 5%;
	padding: 0 3% 0% 0%;
}

.card a {
	text-decoration: none;
}

.card h3,
.card p,
.card span {
	font-family: inherit;
}

.card h3 {
	margin-bottom: .5em;
}

.card p {
	color: #797979;
}

.card__thumb {
	display: block;
	overflow: hidden;
	padding-top: 52.65%;
	position: relative;
}

.card__thumb:hover img {
	-webkit-transform: translate(-50%, -50%) scale(1.2);
	transform: translate(-50%, -50%) scale(1.2);
}

.card__thumb img {
	left: 50%;
	max-width: 100%;
	position: absolute;
	top: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	-webkit-transition: .3s all;
	transition: .3s all;
}

.pagination {
	font-size: 1.2em;
	text-align: center;
}

.pagination__link {
	display: inline-block;
}

.pagination__link--prev {
	margin-right: 10px;
}

.pagination__link--next {
	margin-left: 10px;
}

.pagination__current {
	display: inline-block;
}

.post {
	color: #444;
}

.post__title {
	font-size: 2em;
}

.post__date {
	margin: 0px;
}

.post__meta {
	color: #c2c6cc;
	font-size: 0.9em;
	margin: 0px;
}

.post-content {
	margin-bottom: 3em;
}

.post-content img {
	display: block;
	max-width: 100%;
}

.post-content p {
	line-height: 2;
	margin-bottom: 1.5em;
}

.post-content h2,
.post-content h3,
.post-content h4 {
	margin-top: 2em;
}

.post-content h2 {
	border-left: 5px solid #ff470f;
	padding-left: .5em;
}

.post-content li {
	line-height: 1.6;
}

.post-content li+li {
	margin-top: .5em;
}

.post-content>p code,
.post-content li code {
	background-color: #282c34;
	border-radius: 3px;
	color: #abb2bf;
	font-family: monospace, 'Courier New', Courier, Monaco;
	font-size: 90%;
	margin: 0 .5em;
	padding: 2px 4px;
}

.post-content blockquote {
	background-color: #E6E6E6;
	font-style: italic;
	margin: 30px 0;
	padding: 1px 20px;
}

.post-content blockquote.small {
	font-size: 0.8em;
}

.post-hr {
	border-top: 1px solid #E6E6E6;
	margin: 25px auto;
}

.post-ad {
	margin: 10% auto 0;
	text-align: center;
}

.post-ad__head {
	display: block;
	font-size: .8em;
}

.post-ad__body {
	display: inline-block;
}

.post-nav ol {
	padding: 0;
}

.post-nav a {
	font-family: "Roboto", Meiryo, Helvetica, Arial, sans-serif;
	font-size: 1em;
	text-decoration: none;
}

.post-nav-label {
	display: block;
	font-weight: bold;
}

.post-nav-title {
	text-decoration: underline;
}

.post-nav-prev {
	padding-right: 2.5%;
}

.post-nav-next {
	padding-left: 2.5%;
	text-align: right;
}

.post-nav-back {
	text-align: center;
}

.amazlet-box {
	font-size: 1rem;
	margin: 40px 0;
}

.app-data,
.appfom1 {
	margin: 40px 0;
}

.appbanner {
	margin: 40px 0;
}

.kaerebalink-box {
	margin: 40px 0 20px;
}

.ShareInfo {
	margin: 20px 0;
}

.booklink-box {
	margin: 40px 0;
}

code, pre {
	font-size: 0.9em;
}

.hljs {
  	padding: 1em;
}

img.center {
	display: block;
    margin-left: auto;
    margin-right: auto;
}

table {
	display: block;
    margin: auto;
}

th, td {
	border: 1px solid #E6E6E6;
	padding: 5px;
	font-size: 0.8em;
}

th {
	background-color: #E6E6E6;
}

figure {
	margin: 10px 0px;
}

figcaption {
	color: #aaa;
	font-size: 0.9em;
}

div.feature {
	min-height: 35vh;
	background-size: cover;
	background-position: center;
}

h1.page__title {
	margin: 0px 0px 20px 0px;
}

h1.post__title {
	margin: 0px 0px 0px 0px;
}

ul.nobullet {
	list-style: none;
}

div.share a {
	margin-bottom: 4px;
	color: #ff470f;
}

.pure-g,
.pure-g [class*="pure-u"] {
	font-family: inherit;
}

.nobreak {
	white-space: nowrap;
}