<!DOCTYPE html>

<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en{{ end }}">

{{ partial "head" . }}
{{ block "css" . }}{{ end }}

<body>

  <div id="wrap" class="wrap">

    {{ partial "header" . }}

    <main class="main container">

      <div class="content">
          {{ block "content" . }}{{ end }}
      </div>

      {{ partial "aside" . }}

    </main>
    
    {{ partial "footer" . }}
  
  </div>

  {{ block "js" . }}{{ end }}
  {{ partial "js" . }}

</body>
</html>
