{{ define "content" }}

  <section class="articles">

    <h1 class="page__title">Categories</h1>

    <div class="pure-g">

      {{ range $key, $taxonomy := .Site.Taxonomies.categories }}
        <article class="card pure-u-1 pure-u-lg-1-2">

          <a class="card__thumb" href="/category/{{ $key }}">
            {{ range $pkey, $page := first 1 $taxonomy.Pages }}
              {{ if .Params.image }}
                {{ $original := .Page.Resources.GetMatch (printf "*%s" .Params.image) }}
                <img style="max-width: 100%; height: auto;" alt="" data-src="{{$original.RelPermalink}}" class="lazyload" />
              {{ else }}
                <img style="max-width: 100%; height: auto;" alt="" data-src="{{ .Params.nofeature }}" class="lazyload" />
              {{ end }}
            {{ end }}
          </a>

          <a href="/category/{{ $key }}">
            <h3>{{ title $key }}</h3>
          </a>
          <div class="post__meta">
            ({{ len $taxonomy.Pages }} posts)
          </div>
        </article>
      {{ end }}

    </div>

  </section>

{{ end }}
