{{ define "content" }}

  <section class="articles">

    <h1 class="page__title">Contact</h1>

    <p>
    You can reach to me via <a href="https://mastodont.cat/@xoseperez" target="_blank">@xoseperez at mastodont.cat</a>, <a href="http://twitter.com/xoseperez" target="_blank">@xoseperez at twitter</a> or my <a href="https://www.linkedin.com/in/xoseperez" target="_blank">profile at linkedin</a>.
    But if you prefer the good old way of contacting people, use the form below:
    </p>
    
    <form class="pure-form pure-form-aligned" name="contact" method="POST" data-netlify="true">
        
        <fieldset>
            
            <div class="pure-control-group">
                <label for="name">Name</label>
                <input id="name" name="name" type="text" placeholder="Name" required />
            </div>
    
            <div class="pure-control-group">
                <label for="email">Email Address</label>
                <input id="email" name="email" type="email" placeholder="Email Address" required />
            </div>
    
            <div class="pure-control-group">
                <label for="message">Message</label>
                <textarea id="message" name="message" type="text" placeholder="Enter something here..." style="width: 60%" required></textarea>
            </div>
    
            <div class="pure-controls">
                <button type="submit" class="pure-button pure-button-primary">Submit</button>
            </div>
    
        </fieldset>
        
    </form>

  </section>

{{ end }}        



