{{ $original := .Page.Resources.GetMatch (printf "*%s" .Params.image) }}

<article class="card pure-u-1 pure-u-lg-1-2">
  <a class="card__thumb" href="{{ .RelPermalink }}">
    {{ if eq $original nil }}
      <img src="{{ .Site.Params.nofeature }}" alt="">
    {{ else }}
      <img style="max-width: 100%; height: auto;" alt="" data-src="{{$original.RelPermalink}}" class="lazyload" />
    {{ end }}
  </a>
  <a href="{{ .RelPermalink }}">
    <h3>{{ .Title }}</h3>
  </a>
  <div class="post__meta">
      {{ range $index, $category := .Params.categories }}
        {{ if gt $index 0 }},{{end}}
        <a href="{{ "/category/" | relLangURL }}{{ $category | urlize }}">{{ $category }}</a> 
      {{ end }}· <time itemprop="datePublished" datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" | safeHTML }}">{{ .Date.Format "02 January 2006" }}</time>
  </div>
  <p >{{ if .IsPage }}{{ .Summary }}...{{ else }}{{ .Site.Params.description }}{{ end }}</p>
</article>
