{{ define "content" }}

    {{ if ne .Kind "taxonomyTerm" }}

        <section class="articles">

            <h1 class="page__title">{{ title .Data.Singular  }} "{{ .Title | urlize }}"</h1>
            
            <div class="pure-g">
            {{ range .Paginator.Pages }}
                {{ .Render "li" }}
            {{ end }}
            </div>

        </section>
        
        {{ if or (.Paginator.HasPrev) (.Paginator.HasNext) }}
            <nav class="pagination">
            {{ if .Paginator.HasPrev }}
            <a class="pagination__link pagination__link--prev" href="{{ .Paginator.Prev.URL }}">&lt; Prev</a>
            {{ end }}
            <span class="pagination__current">{{ .Paginator.PageNumber}} / {{ .Paginator.TotalPages }} Page</span>
            {{ if .Paginator.HasNext }}
            <a class="pagination__link pagination__link--next" href="{{ .Paginator.Next.URL }}">Next &gt;</a>
            {{ end }}
            </nav>
        {{ end }}

    {{ end }}
    
{{ end }}