{{ define "content" }}

  <!-- post -->
  <article class="post"　itemscope itemtype="http://schema.org/BlogPosting">
    <h1 class="post__title">{{ .Title }}</h1>
    <p class="post__meta">
      {{ range $index, $category := .Params.categories }}
        {{ if gt $index 0 }},{{end}}
        <a href="{{ "/category/" | relLangURL }}{{ $category | urlize }}">{{ $category }}</a> 
      {{ end }}
      · <time itemprop="datePublished" datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" | safeHTML }}">{{ .Date.Format "02 January 2006" }}</time>
      · reading time ~{{ .ReadingTime }} mins
    </p>
    <div class="post-content">
      {{ .Content }}
      {{ partial "share" . }}
      {{ partial "first-posted" . }}
    </div>
  </article>
  <!-- /post -->

  <hr class="post-hr">

  <!-- post-nav -->
  <nav class="post-nav">
    <ol class="pure-g">

      <li class="pure-u-1 pure-u-md-1-2 post-nav-prev">
        {{ if .NextInSection }}
        <a href="{{.NextInSection.RelPermalink}}">
          <span class="post-nav-label">Next</span>
          <span class="post-nav-title">
            {{ .NextInSection.Title }}
          </span>
        </a>
        {{ end }}
      </li>

      <li class="pure-u-1 pure-u-md-1-2 post-nav-next">
        {{ if .PrevInSection }}
        <a href="{{.PrevInSection.RelPermalink}}">
          <span class="post-nav-label">Previous</span>
          <span class="post-nav-title">
            {{ .PrevInSection.Title }}
          </span>
        </a>
        {{ end }}
      </li>

    </ol>
  </nav>
  <!-- /post-nav -->

  {{ if .Params.comments }}
    {{ partial "disqus" . }}
  {{ end }}

{{ end }}