{{ define "content" }}

  <section class="articles">

    <h1 class="page__title">Search results for "<span id="search-query"></span>"</h1>

    <div class="pure-g" id="search-results"></div>
      
  </section>

{{ end }}        

{{ define "js" }}

  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/fuse.js/3.2.0/fuse.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/mark.js/8.11.1/jquery.mark.min.js"></script>
  <script src="/js/search.js"></script>

  <script id="search-result-template" type="text/x-js-template">
    <article class="card pure-u-1 pure-u-lg-1-2">
        <a class="card__thumb" href="${link}">
          <img src="${link}${image}" alt="">
        </a>
        <a href="${link}">
          <h3>${title}</h3>
        </a>
        <div class="post__meta">
          ${category_links} · <time itemprop="datePublished" datetime="${date}">${date}</time>
        </div>
        <p>
          ${snippet}
        </p>
    </article>
  </script>

{{ end }}