<section class="section section-aboutme">
    <a href="/aboutme"><img src="{{ .Site.Author.image }}" class="avatar" height="96" width="96" alt="{{ .Site.Author.name }}" class="lazyload" /></a>
    <h3>Hi! I'm Xose Pérez</h3>
    <p>I've spent half my life working with computers creating virtual products, now I've moved to the physical part of it, much more fun!</p>
    <p>If I have helped you somehow or you find this blog useful or even interesting and you want to help me keep writing about all this stuff, here you have the old "buy me a beer" button.</p>
    <p>Thank you!</p>
    <a href="https://www.paypal.me/{{ .Site.Author.paypal }}" target="_blank"><img src="/image/donate.png" alt="Donate using Paypal"  class="lazyload" /></a>
    <p>You can also help me by clicking on the affiliate links on the posts, they are all properly labeled.</p>
    <p class="social">
        <a href="https://github.com/{{ .Site.Author.github }}" target="_blank"><i class="fab fa-github"></i></a>
        <a rel="me" href="{{ .Site.Author.mastodon }}" target="_blank"><i class="fab fa-mastodon"></i></a>
        <a href="https://twitter.com/{{ .Site.Author.twitter }}" target="_blank"><i class="fab fa-twitter"></i></a>
        <a href="https://www.linkedin.com/in/{{ .Site.Author.linkedin }}" target="_blank"><i class="fab fa-linkedin"></i></a>
        <a href="/index.xml" target="_blank"><i class="fas fa-rss"></i></a>
    </p>
</section>
