<aside class="aside">

    {{ partial "about" . }}

    {{ if eq .Type "posts" }}
        {{ partial "related" . }}
    {{ end }}

    <section class="section section-search">
        <h3>Search</h3>
            <form action="/search">
                <input id="search-query" name="s"/>
            </form>
        </h3>
    </section>

    <section class="section section-category-index">
        <h3>Categories</h3>
        <ul class="nobullet">
            {{ range $key, $taxonomy := .Site.Taxonomies.categories }}
                <li>
                    <a href="/category/{{ $key }}">{{ title $key }}</a>
                </li>
            {{ end }}
        </ul>
    </section>

    {{ if eq .Type "posts" }}
        <section class="section section-tag-cloud">
            <h3>Tag cloud</h3>
            {{ partial "tags" . }}
        </section>
    {{ end }}

</aside>
      