<div id="disqus_thread"></div>

<script>
    
    var disqus_config = function () {
        this.page.url = "https:\/\/tinkerman.cat{{ .RelPermalink }}";
        this.page.identifier = "{{ .Params.post_id }} http://tinkerman.cat/?p={{ .Params.post_id }}";
    };

    (function() {
        var d = document, s = d.createElement('script');
        s.src = 'https://tinkerman.disqus.com/embed.js';
        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
    })();

</script>

<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>