<blockquote class="small">
<p>
    "{{ .Title }}" was first posted on {{ .Date.Format "02 January 2006" }} by <a href="http://twitter.com/{{ .Site.Author.twitter }}" target="_blank">{{ .Site.Author.name}}</a> on tinkerman.cat
    under 
    {{ range $index, $category := .Params.categories }}{{ if gt $index 0 }}, {{end}}<a href="{{ "/category/" | relLangURL }}{{ $category | urlize }}">{{ $category }}</a>{{ end }}
    and tagged
    {{ range $index, $tag := .Params.tags }}{{ if gt $index 0 }}, {{end}}<a href="{{ "/tag/" | relLangURL }}{{ $tag | urlize }}">{{ $tag }}</a>{{ end }}.
</p>
</blockquote>