<footer class="footer">
    <div class="container">
        <p>
            © {{ .Site.Author.name }} 2012-{{ now.Format "2006" }} · 
            <a href="/aboutme">About me</a> · 
            <a href="/contact">Contact</a></p>
        <p>Content in this site is licensed under<br /><a href="https://creativecommons.org/licenses/by-sa/4.0/" target="_blank">Creative Commons Attribution-ShareAlike 4.0 International</a><br />unless it explicitly states otherwise.</p>
        <img src="/image/cc-by-sa-40.png" alt="Creative Commons Attribution-ShareAlike 4.0 International" class="lazyload" />
        <p class="powered">Powered by </p>
        <a href="https://gohugo.io" target="_blank"><img class="powered" src="/image/hugo-logo-wide.svg" alt="Hugo {{ hugo.Version }}" class="lazyload" /></a>
        <p>Hosted and deployed by <a href="https://www.netlify.com/" target="_blank">Netlify</a>.</p>
        <p>Theme based on <a href="https://themes.gohugo.io/hestia-pure/" target="_blank">Hestia Pure</a> by <a href="http://diwao.com/" target="_blank">diwao</a>.</p>
    </div>
</footer>
