{{ $image := .Page.Resources.GetMatch (printf "*%s" .Params.image) }}

<head>
  
  <meta charset="utf-8">
  <title>{{ title .Title }}{{ if not .IsHome }} - {{ .Site.Title }}{{ end }}</title>

  {{ hugo.Generator }}
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="author" content="{{ .Site.Author.name }}">
  <meta name="description" content="{{ cond .IsHome .Site.Params.description .Summary }}">
  <meta name="keywords" content="{{ if isset .Params "tags" }}{{ delimit .Params.tags ", " }}{{ else }}{{ .Site.Params.keywords }}{{ end }}">
  
  <meta property="og:site_name" content="{{ .Site.Title }}">
  <meta property="og:title" content="{{ .Title }}">
  <meta property="og:url" content="{{ .Permalink }}">
  <meta property="og:image" content="{{ if eq $image nil }}{{ .Site.BaseURL }}{{ .Site.Params.image }}{{ else }}{{ $image.Permalink }}{{ end }}">
  <meta property="og:description" content="{{ cond .IsHome .Site.Params.description .Summary }}">
  <meta property="og:type" content="blog">
  
  <meta name="twitter:card" content="summary">
  <meta name="twitter:creator" content="@{{ .Site.Author.twitter }}">
  <meta name="twitter:title" content="{{ .Title }}">
  <meta name="twitter:url" content="{{ .Permalink }}">
  <meta name="twitter:description" content="{{ cond .IsHome .Site.Params.description .Params.description }}">
  <meta name="twitter:image" content="{{ if eq $image nil }}{{ .Site.BaseURL }}{{ .Site.Params.image }}{{ else }}{{ $image.Permalink }}{{ end }}">
  <meta name="twitter:image:src" content="{{ if eq $image nil }}{{ .Site.BaseURL }}{{ .Site.Params.image }}{{ else }}{{ $image.Permalink }}{{ end }}">
  
  <link rel="shortcut icon" href="/favicon.ico">
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.7.0/styles/atom-one-dark.min.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/solid.css" integrity="sha384-ioUrHig76ITq4aEJ67dHzTvqjsAP/7IzgwE7lgJcg2r7BRNGYSK0LwSmROzYtgzs" crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/brands.css" integrity="sha384-i2PyM6FMpVnxjRPi0KW/xIS7hkeSznkllv+Hx/MtYDaHA5VcF0yL3KVlvzp8bWjQ" crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/fontawesome.css" integrity="sha384-sri+NftO+0hcisDKgr287Y/1LVnInHJ1l+XC7+FOabmTTIK0HnE2ID+xxvJ21c5J" crossorigin="anonymous">
  <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css">
  <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/grids-responsive-min.css">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="alternate" href="/index.xml" type="application/rss+xml" title="{{ .Site.Title }}">

</head>
