<header class="header">
  
  <div class="container">
    
    {{ if .IsHome }}
      <h1 class="site-title"><a href="/">{{ .Site.Title }}</a></h1>
    {{ else }}
      <div class="site-title"><a href="/">{{ .Site.Title }}</a></div>
    {{ end }}

  </div>
  
  {{ $image := .Page.Resources.GetMatch (printf "*%s" .Params.image) }}
  <div class="feature" style="background-image: url({{ if eq $image nil }}{{ .Site.Params.image }}{{ else }}{{ $image.RelPermalink }}{{ end }})"></div>

</header>
