<section class="section section-related-posts">

    {{ $.Scratch.Set "count" 0 }}
    {{ $currentPagePermalink := .Permalink }}
    {{ $tags := .Params.tags }}

    <h3>Related posts</h3>
    <ul class="nobullet">

        {{ range shuffle .Site.Pages }}
        {{ $isMatchTags := intersect $tags .Params.tags | len | lt 2 }}
        {{ if and $isMatchTags (ne .Permalink $currentPagePermalink) (lt ($.Scratch.Get "count") 10) }}
            <li class="relatedPost">
                <a href="{{ .RelPermalink }}">{{ .Title | markdownify }}</a><br />
                <p class="post__date">
                    <time itemprop="datePublished" datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" | safeHTML }}">{{ .Date.Format "02 January 2006" }}</time>
                </p>
            </li>
            {{ $.Scratch.Add "count" 1 }}
        {{ end }}
        {{ end }}
    
    </ul>

    {{ if eq ($.Scratch.Get "count") 0 }}
        There are no related posts...
    {{ end }}

</section>
