<div class="share">
    <h3>Share this post:</h3>
    <a class="pure-button" href="https://twitter.com/intent/tweet/?url={{ .Permalink }}&text={{ .Title }}&via={{ .Site.Author.twitter }}" target="_blank"><i class="fab fa-twitter"></i> Twitter</a>
    <a class="pure-button" href="https://reddit.com/submit?url={{ .Permalink }}&title={{ .Title }}&resubmit=true" target="_blank"><i class="fab fa-reddit-alien"></i> Reddit</a>
    <a class="pure-button" href="https://facebook.com/sharer/sharer.php?u={{ .Permalink }}" target="_blank"><i class="fab fa-facebook-f"></i> Facebook</a>
    <a class="pure-button" href="https://www.linkedin.com/shareArticle?url={{ .Permalink }}&title={{ .Title }}&source={{ .Site.Title }}&mini=true" target="_blank"><i class="fab fa-linkedin-in"></i> LinkedIn</a>
    <a class="pure-button" href="https://telegram.me/share/url?url={{ .Permalink }}&text={{ .Title }}" target="_blank"><i class="fab fa-telegram-plane"></i> Telegram</a>
    <a class="pure-button" href="mailto:?subject={{ .Title }}&body=Hey,%20check%20out%20this:{{ .Permalink }}" target="_blank"><i class="fas fa-at"></i> Email</a>
</div>


