{{ $largestFontSize := cond (eq .Type "posts") 1.2 2.5 }}
{{ $smallestFontSize := 0.8 }}
{{ $fontUnit := "rem" }}

{{ $fontSpread := sub $largestFontSize $smallestFontSize }}
{{ $max := add (len (index $.Site.Taxonomies.tags.ByCount 0).Pages) 1 }}
{{ $min := len (index $.Site.Taxonomies.tags.ByCount.Reverse 0).Pages }}
{{ $spread := sub $max $min }}
{{ $fontStep := div $fontSpread $spread }}

<div id="tag-cloud">
    {{ range $name, $taxonomy := $.Site.Taxonomies.tags }}
    {{ if or (in $.Params.tags $name) (ne $.Type "posts") }}
        {{ $currentTagCount := len $taxonomy.Pages }}
        {{ $currentFontSize := (add $smallestFontSize (mul (sub $currentTagCount $min) $fontStep) ) }}
        {{ $count := len $taxonomy.Pages }}
        {{ $weigth := div (sub (math.Log $count) (math.Log $min)) (sub (math.Log $max) (math.Log $min)) }}
        {{ $currentFontSize := (add $smallestFontSize (mul $fontSpread $weigth) ) }}
        <a class="nobreak" href="{{ "/tag/" | relLangURL }}{{ $name | urlize }}" style="font-size:{{$currentFontSize}}{{$fontUnit}}">{{ $name }} ({{ $count }})</a>
    {{ end }}
    {{ end }}
</div>
