{{ define "content" }}

  <h2>404 Page not found</h2>
  <p>Well, this is just something people say shouldn't happen, but it did :(</p>
  <p>So maybe we could try again from scratch. You can use the search textbox to the right or visit the <a href="/">home page</a>.</p>
  <p>Thank you!</p>

{{ end }}