{{ $url := .Get 0 }}
{{ $text := .Get 1 }}

<figure>
    <img class="center" src="{{ $url }}" alt="{{ $text }}" />
    {{ with $text }}
        <figcaption>{{ . }}</figcaption>
    {{ end }}
</figure>