{{ $filename := .Get 0}}
{{ $original := .Page.Resources.GetMatch (printf "*%s" $filename) }}
{{ $text := .Get 1 }}

{{ if eq $original nil }}
    {{ errorf "cannot find file: %s" $filename }}
{{ end}}

{{ if ne $original.ResourceType "image" }}
   {{ errorf "file %s is not an image" $filename }}
{{ end }}

<figure>
    <img style="max-width: 100%; height: auto;" alt="{{ default $text "image" }}" data-src="{{$original.RelPermalink}}" class="lazyload center" />
    {{with $text }}
    <figcaption>{{ . }}</figcaption>
    {{end}}
</figure>